h1  {
    padding:0 50px;
    color: #4A4A4A;
}
 
h2 {  
    margin: 20px 0px;
}

.Cart{
    width: 70%;  
}

.Detail {
    color: green;
}


@media (max-width: 500px) {
    .Cart{
        width: 100%;
        display: inline-table; 
    }
}
 