.OrderSummaryBar{ 
    float: right; 
    margin-top:0;
    background:#2B2B2B;
    color: #fff; 
    display: block;
    border-radius: 0 0 5% 5%;
    width: 200px;
}
.OrderSummaryBar:hover{
    display: block;
}

.TotalItems
{ 
    display: block;
    padding: 16px 20px;
}

.TotalPrice
{ 
    border-top: 1px solid #fff;
    display: block;
    padding: 16px 20px;
}

strong{
    float:right;
}

@media (max-width:500px)
{
    .OrderSummaryBar{
        width: 100%;
    }
    
}