.OrderSummaryBar{ 
    float: right; 
    margin-top:0;
    background:#2B2B2B;
    color: #fff; 
    display: block;
    border-radius: 0 0 5% 5%;
}
.OrderSummaryBar:hover{
    display: block;
}

.TotalItems
{ 
    display: block;
    padding: 16px 20px;
}

.TotalPrice
{ 
    display: block;
    padding: 16px 20px;
}