
.ArticleDetail{
    padding: 26px;
    margin: 10px auto;
    max-width: 1072px; 
}
  
  
.PageTitle{
    color:#4A4A4A;
    padding: 50px 90px 0;
}

.ArticleDetail div {
    padding: 5px 26px; 
    margin: 10px;
}

.NameDetail { 
    display: inline;
}

.ImageContainer{
    padding:1px;
}

.Image{
    width:200px;
    height: 200px;
}

.Button {
    display:block;
    width:262px;
    border:1px solid rgba(138, 135, 135, 0.418);
    margin:5px 0 ;
    background: #fff;
    border-radius: 20px;
    text-align:center;  
    cursor: pointer;
    font-size: 12px;
    height: 27px; 
    line-height: 27px;
    margin: 10px;
  }
 
  .Button:focus{
    outline:none;
  }

  .Button:hover{
     border:1px solid #888; 
  }
