
.CartArticle {
    display: block;
    padding: 0;
    font-weight: bold;
    margin: 20px;
    border: 1px solid #ccc;
    height: 102px; 
    width: 80%;
    overflow: auto;
}

.Image{
    width:100px;
    height: 100px;
    vertical-align:middle;
    float: left;
} 
 
.ArticleLink { 
    margin: 20px 0 0 20px;
    display: inline;
}
.ArticleLink a {
    text-decoration: none; 
    color: #4A4A4A; 
}

.ArticleLink:hover{
  text-decoration: underline;
  color: #4A4A4A;
}
 
.Price{
    float: right;
    margin: 20px 20px;
}

@media (max-width: 500px) {
    .CartArticle{
        width: 100%;
    }
}