.LeftColumn{
    border: 1px solid transparent;    
    display: inline-flex;
}

.RigthColumn{
    border: 1px solid transparent;  
    float: right;  
}



.BuildControls { 
    padding: 0px 20px 0 0; 
    display: inline-block; 
    width: 65%;
}

.OrderButton {
    display: block;
    width: 262px;
    border: 1px solid #fff;
    top: 23px;
    height: 27px; 
    line-height: 27px;
    background: #fff;
    border-radius: 20px; 
    margin: 0 auto;
    cursor: pointer;
}

.OrderButton:hover, .OrderButton:active {
    background-color: #C7C6C6;
    border: 1px solid #ccc; 
}

.OrderButton:disabled { 
    cursor: not-allowed;
    border: 1px solid #ccc; 
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
    border: 1px solid #ccc; 
}

.CurrentInfo{
    border:1px solid #ccc;  
    float:right;  
    margin: 5px 5px 0 0;
    height:  220px;
    width: 300px;
}

.CurrentPrice{
    margin: 20px;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

 

@media (max-width: 500px) {

    .LeftColumn{ 
        display: block;
    }
    
    .RigthColumn{
        display: block;
    }
 
    
    .BuildControls{
        border: 1px solid #ccc;
        overflow: auto;
        padding: 10px;
        margin: 20px;
        width: 100%;
    }

    .CurrentInfo{
        border: 1px solid #ccc;
        overflow: auto;
        padding: 10px;
        margin: 20px;
        width: 100%;
    }
}