.SuperCartContainer{
    display: flex;
} 

.LeftColumn{
    border: 1px solid transparent;
    flex: 1;   
}

.RigthColumn{
    border: 1px solid transparent;  
    width: 300px;
} 

.EmptyCart{
    padding: 0px 40px 0;
    font-weight: bold;
}

.OrderButton {
    display: block;
    width: 262px;
    border: 1px solid #fff;
    top: 23px;
    height: 27px; 
    line-height: 27px;
    background: #fff;
    border-radius: 20px; 
    margin: 0 auto;
    cursor: pointer;
}

.OrderButton:hover, .OrderButton:active {
    background-color: beige;
    border: 1px solid #ededed; 
}

.OrderButton:disabled { 
    cursor: not-allowed;
    border: 1px solid #ededed; 
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
    border: 1px solid #ededed; 
}

.CurrentInfo{
    border:1px solid #ededed;  
    float:right;  
    margin: 5px 5px 0 0;
    height:  220px;
    width: 300px;
}

.CurrentPrice{
    margin: 20px;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

 

@media (max-width: 500px) {
    .SuperCartContainer{
        display: block;
    }  

    .LeftColumn{ 
        display: block;
    }
    
    .RigthColumn{
        display: block;
        width: 100%;
    } 
  

    .BuildControls{
      
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .CurrentInfo{
        border: 1px solid transparent;
        overflow: auto;
        padding: 10px;
        margin: 0;
        width: 100%;
    }
}

  