.AddItemControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.AddItemControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #AA6817;
    cursor: pointer;
    outline: none;
}


.AddItemControl button:disabled {
    background-color: rgb(185, 186, 187);
    border: 1px solid #7E7365;
    color: #ededed;
    cursor: default;
}

.AddItemControl button:hover:disabled {
    background-color: #AC9980;
    color: #ededed;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.AddItemControl .Less {  
    background-color: rgb(178, 206, 206);
    color: white;
}

.AddItemControl .More {
    background-color: rgb(48, 87, 170);
    color: white;
}

.AddItemControl .Less:hover, .AddItemControl .Less:active {  
    
    color: white;
    border: #000;
}

.AddItemControl .More:hover,.AddItemControl .More:active {
    background-color: #99703F;
    color: white;
    border: #000;
}