.BuildControl {
    display: block;   
    margin: 5px 10px 14px;
    border:1px solid #ededed;  
    height: 102px;
    display: flex;
}

.BuildControl .Buttons
{ 
    padding: 20px;
}

.BuildControl .SubTotals
{  
    padding: 20px;
    width: 150px;
}

.BuildControl button { 
    font: inherit; 
    margin: 0 5px;
    width: 20px;
    border: 1px solid #ededed;
    cursor: pointer;
    outline: none;
    border-radius: 50%;
} 

.BuildControl button:disabled {
    background-color: rgb(185, 186, 187);
    border: 1px solid #7E7365;
    color: #ededed;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #AC9980;
    color: #ededed;
    cursor: not-allowed;
}

.Label {
    padding: 20px;
    font-weight: bold;
    width: 80px;
}

.Link{
    text-decoration: none;
    color: #4A4A4A;
}

.Link:hover{
    text-decoration: underline;
}

.BuildControl .Less {   
    color: #000;
}

.BuildControl .More { 
    color: #000;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #DAA972;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #99703F;
    color: white;
}
 
.BuildControl .Image{
    width: 100px;
    height: 100px;
} 

@media (max-width: 500px) {
    .BuildControl { 
        width: 100%;
    }
}






