.BuildControl {
    display: flex;    
    align-items: center;
    margin: 5px 0;
    border:1px solid #ccc; 
    width: 65%;
}

.BuildControl button { 
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 20px;
    border: 1px solid #AA6817;
    cursor: pointer;
    outline: none;
}


.BuildControl button:disabled {
    background-color: rgb(185, 186, 187);
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {  
    background-color: rgb(178, 206, 206);
    color: white;
}

.BuildControl .More {
    background-color: rgb(48, 87, 170);
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #DAA972;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #99703F;
    color: white;
}


.BuildControl .Image{
    width: 100px;
    height: 100px;
}


@media (max-width: 500px) {
    .BuildControl { 
        width: 100%;
    }
}






